<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
  <connectionStrings>
    <add name="connStr" connectionString="Data Source=DESKTOP-H4D0KNJ\SQLEXPRESS;Initial Catalog=PHARMA-Z;Integrated Security=True;"></add>
  </connectionStrings>
</configuration>
